---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  clean:
    desc: Clean LaTeX build artifacts
    silent: true
    cmds:
      - rm -rf docs/report/_build

  build:
    desc: Build LaTeX document
    silent: true
    deps:
      - clean
    cmds:
      - scripts/latex/build.sh docs/report/report.en.tex docs/report/_build

  watch:
    desc: Build LaTeX document in watch mode
    silent: true
    cmds:
      - scripts/latex/watch.sh docs/report/report.en.tex

  test:
    desc: Test LaTeX document
    silent: true
    cmds:
      - scripts/latex/test.sh docs/report/report.en.tex

  check:
    desc: Check LaTeX document
    silent: true
    cmds:
      - chktex docs/report/report.en.tex
      - tex-fmt --check docs/report/report.en.tex

  fix:
    desc: Fix LaTeX document
    silent: true
    cmds:
      - tex-fmt -q docs/report/report.en.tex
