---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  venv:
    desc: Initialize the virtual environment
    silent: true
    cmd: |
      if [ ! -d .venv ]; then
        uv venv --clear &>/dev/null
        uv sync &>/dev/null
      fi

  run:
    desc: Run application
    silent: true
    deps:
      - venv
    cmds:
      - uv run comp370

  test:
    desc: Run tests
    silent: true
    deps:
      - venv
      - db:seed
    cmds:
      - uv run scripts/python/test.py

  check:
    desc: Check Python code
    silent: true
    deps:
      - venv
    cmds:
      - ty check --error-on-warning .
      - ruff check .

  fix:
    desc: Fix Python code
    silent: true
    deps:
      - venv
    cmds:
      - ruff check -q --fix .
